body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #2277c2;
    border-radius: 20px;
}

.header button {
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    background-color: #aed4f7;
    color: #2277c2;
    cursor: pointer;
    width: 100px;
}

.header button:hover {
    background-color: #e0e0e0;
}

.top-header {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.top-header .right-content {
    display: flex;
    align-items: center;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.crud {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.crud th {
    padding: 15px;
    background-color: #2277c2;
    color: white;
}

.crud td {
    padding: 10px;
    text-align: center;
    background-color: #b7c3d4;
}

.crud button {
    background-color: #2277c2;
    border-style: none;
    border-radius: 12px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.crud button:hover {
    background-color: #0e5a9b;
}